---
bootstrap_url: file:///tmp/dcos-install/genconf/serve
cluster_name: '{{ cluster_name }}'
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for item in groups['role=control'] %}
{% if hostvars[item].private_ipv4 is defined %}
- {{ hostvars[item].private_ipv4 }}
{% endif %}
{% endfor %}
resolvers:
{{ resolvers }}
oauth_enabled: 'false'
